* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.2;
}

main {
  font-size: 12pt;
}

hr {
  margin: 1rem 0;
  opacity: 0.2;
}

button, .button {
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  display: inline-flex;
  padding: 0.5rem;
  background: #005ea2;
  color: white;
  line-height: 0.9;
  justify-content: center;
  text-align: center;

  &:focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0.25rem;
  }
}

input[type="password"],input[type="text"] {
  padding: 0.5rem;
  font-size: 14pt;
}

#sf50-input {
  display: none;
}

#sf50-drop {
  width: 100%;
  border: 1px dashed #2491ff;
  padding: 3rem;
  margin-top: 0.5rem;
}

.center {
  text-align: center;
}

.margin-top-1 {
  margin-top: 1rem;
}
.margin-left-1 {
  margin-left: 1rem;
}

.padding-05 {
  padding: 0.5rem;
}
.padding-1 {
  padding: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col-1 {
  width: calc(100% / 12);
}
.col-2 {
  width: calc(200% / 12);
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: calc(400% / 12);
}
.col-5 {
  width: calc(500% / 12);
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: calc(700% / 12);
}
.col-8 {
  width: calc(800% / 12);
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: calc(1000% / 12);
}
.col-11 {
  width: calc(1100% / 12);
}
.col-12 {
  width: 100%;
}
.offset-1 {
  margin-left: (100% / 12);
}
.offset-2 {
  margin-left: (200% / 12);
}
.offset-3 {
  margin-left: 25%
}
.offset-4 {
  margin-left: (400% / 12);
}
.offset-5 {
  margin-left: (500% / 12);
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: (700% / 12);
}
.offset-8 {
  margin-left: (800% / 12);
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: (1000% / 12);
}
.offset-11 {
  margin-left: (1100% / 12);
}
